<div id="game">

  <%if @loser %>
    <div class="alert alert-error"><%=@loser%></div>
  <% end %>
  <%if @winner %>
    <div class="alert alert-success"><%=@winner%></div>
  <% end %>

  <% if @game_over %>  
    <form action="/game/new_round">
      <input type="submit" class="btn btn-success btn-large" value="Play another round?">
    </form>
  <% end %>

  <h1>Blackjack!!!</h1>

  <p>Welcome <%= session[:player_name] %>.</p>

  <div class="well">
    <h4>Dealer's Hand:</h4>
    <% if @dealer_turn || blackjack?(session[:dealer_hand]) %>
      <%= show_hand(session[:dealer_hand]) %>
      <p>Dealer's cards total: <%= total(session[:dealer_hand]).join(" or ") %></p>
    <% else %>
      <%= %Q[<img src="/images/cards/#{session[:dealer_hand][0][1].downcase}_#{CARD_VALUES[session[:dealer_hand][0][0].downcase.to_sym]}.jpg" class="img-polaroid">] %>
      <%= %Q[<img src="/images/cards/cover.jpg" class="img-polaroid">] %>
    <% end %>
  </div>

  <% if @dealer_turn && !@game_over %>
    <button id="dealer_hit_button" type="submit" class="btn btn-info btn-large">Dealer's Next Card</button>
  <% end %>

  <% if !@bust_or_stay && !busted?(session[:player_hand]) && !blackjack?(session[:player_hand]) && !@dealer_turn %>
    <form action="/game/dealer/turn" method="post">
      <input type="submit" class="btn btn-large btn-info" value="Click to Start Dealer Turn">
    </form>
  <% end %>

  <br/>

  <div class="well">
    <h4>Player's Hand:</h4>

    <%= show_hand(session[:player_hand]) %>

    <p><%= session[:player_name] %>'s cards total: <%= total(session[:player_hand]).join(" or ") %></p>
  </div>

  <% if @bust_or_stay %>
    <div class="btn-group">
      <button id="hit_button" type="submit" class="btn btn-warning btn-large">Hit</button>
      <button id="stay_button" type="submit" class="btn btn-info btn-large">Stay</button>
    </div>
  <% end %>
</div>